manifest {
  name = 'fredjaya/mutscape'
  author = 'Fred Jaya'
  homePage = 'https://github.com/fredjaya/mutscape'
  description = 'Pipeline to estimate mutation rates in Cape Honey Bees'
  mainScript = 'main.nf'
}

profiles {

  test {
    process {
      executor = 'pbs'
      cpus = 4
      memory = 16.GB
      clusterOptions = '-P RDS-FSC-Scape-RW' 
    } 
  }

  singularity {
    
    docker.enabled = false
    singularity.autoMounts = true
    singularity.enabled = true
  
    process {
    
      withLabel: bwa { container = 'pegi3s/bwa:0.7.17'}
      withName : samtoolsSort { container = 'pegi3s/samtools_bcftools:1.9'} 
      withLabel: picard { container = 'biocontainers/picard' }

    }
  }
}

trace {
  enabled = true
  file = "trace/trace.csv"
  sep = ','
}

timeline {
  enabled = true
  file = "trace/timeline.html"
}

report {
  enabled = true
  file = "trace/report.html"
}

dag {
  enabled = true
  file = "trace/flowchart.pdf"
}

