profiles {

  test {
    process {
      executor = 'pbs'
      cpus = 1
      memory = 1.GB
      clusterOptions = '-P RDS-FSC-Scape-RW'
    }
  }

  pbs {
    process {
      executor = 'pbs'
      clusterOptions = '-P RDS-FSC-Scape-RW'
    }  
  }

}

trace {
  enabled = true
  file = "trace/trace.csv"
  sep = ','
}
